@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* 全ての入力欄のテキストを黒色に */
input, textarea, select {
  color: rgb(17, 24, 39) !important;
}

input::placeholder, textarea::placeholder {
  color: rgb(156, 163, 175) !important;
}
